/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
*{
  font-family: 'poppins', sans-serif;
}

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a {
  color: #0077cc;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}


#bo-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 200px;
  gap: 20px;
  padding: 50px;
}
.best-offers {
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.best-offers img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
  transition: 0.5s;
}
.best-offers img:hover {
  transform: translateY(-10px);
}
.wide { grid-column: span 2; }
.tall { grid-row: span 2; }
.big { grid-column: span 2; grid-row: span 2; }





select{
  padding: 5px 10px;
  border: 1px solid #d3d3d3;
  cursor: pointer;
  width: 250px;
}

input[type=date]{
  padding: 5px 10px;
  border: 1px solid #d3d3d3;
  cursor: pointer;
}


#cards-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.card {
  height: 100%;
  width: 300px;
  border: 1px solid #ebebeb;
  border-radius: 10px;
  overflow: hidden;
  transition: .5s ease-in;
}


.card:hover{
  transform: translateY(-10px);
  cursor: pointer;
}

.card .p-title {
  font-size: 22px;
}

.card img {
  height: 200px;
  width:100%;
  object-fit: cover;
}

.card .card-content {
  padding: 20px;
}

.card .card-content p {
  font-size: 13px;
}




/* Footer */

