/* _content/AirelineReservationSystem/Views/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
*[b-y08ituwunz]{
  font-family: 'poppins', sans-serif;
}

a.navbar-brand[b-y08ituwunz] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-y08ituwunz] {
  color: #0077cc;
}

.btn-primary[b-y08ituwunz] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-y08ituwunz],
.nav-pills .show > .nav-link[b-y08ituwunz] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-y08ituwunz] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-y08ituwunz] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-y08ituwunz] {
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
}

button.accept-policy[b-y08ituwunz] {
  font-size: 1rem;
  line-height: inherit;
}


#bo-container[b-y08ituwunz] {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 200px;
  gap: 20px;
  padding: 50px;
}
.best-offers[b-y08ituwunz] {
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.best-offers img[b-y08ituwunz] {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
  transition: 0.5s;
}
.best-offers img:hover[b-y08ituwunz] {
  transform: translateY(-10px);
}
.wide[b-y08ituwunz] { grid-column: span 2; }
.tall[b-y08ituwunz] { grid-row: span 2; }
.big[b-y08ituwunz] { grid-column: span 2; grid-row: span 2; }





select[b-y08ituwunz]{
  padding: 5px 10px;
  border: 1px solid #d3d3d3;
  cursor: pointer;
  width: 250px;
}

input[type=date][b-y08ituwunz]{
  padding: 5px 10px;
  border: 1px solid #d3d3d3;
  cursor: pointer;
}


#cards-container[b-y08ituwunz] {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.card[b-y08ituwunz] {
  height: 100%;
  width: 300px;
  border: 1px solid #ebebeb;
  border-radius: 10px;
  overflow: hidden;
  transition: .5s ease-in;
}


.card:hover[b-y08ituwunz]{
  transform: translateY(-10px);
  cursor: pointer;
}

.card .p-title[b-y08ituwunz] {
  font-size: 22px;
}

.card img[b-y08ituwunz] {
  height: 200px;
  width:100%;
  object-fit: cover;
}

.card .card-content[b-y08ituwunz] {
  padding: 20px;
}

.card .card-content p[b-y08ituwunz] {
  font-size: 13px;
}




/* Footer */

