@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles {
    <style>
        /* Importing the Poppins font from Google Fonts */

        * {
            margin: 0%;
            padding: 0;
            box-sizing: border-box;
            font-family: "Poppins", sans-serif;  /* Use the Poppins font */
            outline: none;
        }

        .login-container {
            height: 100vh;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #f0f0f0;
        }

        form {
            height: 70vh;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 20px;
            overflow: hidden;
            box-shadow: -1px 1px 20px 1px lightgray;
        }

        .first-child {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: 20px;
            width: 500px;
            height: 100%;
            background-color: white;
        }

        .first-child .input-field {
            padding: 10px 20px;
            border: none;
            width: 300px;
            outline: none;
            border-radius: 3px;
            font-size: 15px;
            border: 1px solid lightgray;
        }

        .first-child a {
            font-size: 14px;
            text-decoration: none;
            color: #222222;
        }

        h2 {
            font-size: 30px;
        }

        .signIn-btn {
            padding: 10px 50px;
            background-color: #152c55;
            color: white;
            border-radius: 25px;
            border: none;
            cursor: pointer;
        }

        .signup-btn {
            padding: 10px 40px;
            background-color: #152c55;
            color: white;
            border: 1px solid white;
            border-radius: 25px;
            cursor: pointer;
        }

        .second-child p {
            font-size: 15px;
        }

        .second-child {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            text-align: center;
            background-color: #152c55;
            gap: 30px;
            color: white;
            width: 300px;
            padding: 20px;
            height: 100%;
        }
    </style>
}
<div class="login-container">


<form asp-controller="Auth" asp-action="Login" method="post">
    <div class="first-child">
        <h2>Sign In</h2>
        <input type="text" class="input-field" name="Email" placeholder="Enter Email" />
        <input type="password" class="input-field" name="Password" placeholder="Enter Password" />
        <a href="#">Forgot your password?</a>
        <input type="submit" value="Sign In" class="signIn-btn" />
    </div>
    <div class="second-child">
        <h2>Hello, Friend!</h2>
        <p>Enter your personal details and start your journey with us</p>
        <button type="button" class="signup-btn" onclick="window.location.href='@Url.Action("Register", "Auth")'">Sign Up</button>
    </div>
</form>

</div>
