@{

    ViewData["Title"] = "About Us";

}


<html>
<head>
    <style>
        body{
            background-color:#fefefe;
        }
        .img{
                height:200px;
                width:100%;
                object-fit:cover;
        }
        h2{
            text-align:center;
        }
    </style>
</head>
<body>
<img src="~/images/about-us.jpg" class="img" alt=""/>
<h2 class="text-center p-3">@ViewData["Title"]</h2>

</body>
</html>

